<strong>Olá, {{ organizer }}</strong>
<p>Você recebeu um novo inscrito para o evento {{ meetup }}. Confira os detalhes
do novo inscrito abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ user }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />
  <br />
</p>
