<strong>Hi, {{ organizer }}</strong>
<p>You have received a new registration for the event {{ meetup }}. New subscriber details are below:</p>
<p>
  <strong>Name: </strong> {{ user }} <br />
  <strong>E-mail: </strong> {{ email }} <br />
  <br />
</p>
